@import url('https://fonts.googleapis.com/css?family=MedievalSharp');

body {
    font-family: 'MedievalSharp';
    font-size: 18px;
 
}


.flag {
    width: 80%;
}

.Welles-border:hover{
    border-bottom: #fff05a 5px;
}

