@import url('https://fonts.googleapis.com/css?family=MedievalSharp');

body {
    font-family: 'MedievalSharp';
    font-size: 18px;
 
}

.Algor:hover{
    background-color: #962424;
    -webkit-box-shadow: 0px 0px 15px 5px #962424; 
    box-shadow: 0px 0px 15px 5px #962424;
}
.Beltamor:hover{
    background-color: #00509d;
    -webkit-box-shadow: 0px 0px 15px 5px #00509d; 
    box-shadow: 0px 0px 15px 5px #00509d;
}
.Ethelion:hover{
    background-color: #229680;
    -webkit-box-shadow: 0px 0px 15px 5px #229680; 
    box-shadow: 0px 0px 15px 5px #229680;
}

.Medorien:hover{
    background-color: #aa7122;
    -webkit-box-shadow: 0px 0px 15px 5px #aa7122; 
    box-shadow: 0px 0px 15px 5px #aa7122;
    
}
.Thamor:hover{
    background-color: #663e91;
    
}
.flag {
    width: 80%;
}

.Welles-border:hover{
    border-bottom: #fff05a 5px;
}


.Thornheim:hover{
    background-color: #99ccff;
    color: black;
}
