@import './Variables.scss';

.atlas-page{

    .worldmap{
        border: 2px solid white;
        border-radius: 2%;
        width: 50%;
        padding: 0;
        margin: 0;

    }
    .img-habitat{
        width: 20em;
        height: 20em;
    }
}