@import './Variables.scss';

.dashboard-page{
    overflow-y: auto; /* Allow the entire page to scroll */
    min-height: 100vh; /* Ensure the page spans the full viewport height */
    overflow-x: hidden; /* Hide horizontal scrolling */
    .user-img{
        max-width: 100%;
        background-color: $transparentBlack;
        margin-right: 5px;
        position: relative;
        display: block; /* Ensures the image takes full width in its container */
    }
    .ability-card{
        background-color: $transparentBlack;
        border: 15px solid $transparentBlack;
        border-image-source: url(~/public/pattern/grey-card-border.svg);
        border-image-slice:
        33 33 32 33;
        border-image-width: 15px; /* Use shorthand */
        border-image-outset: 0px;
        border-image-repeat: stretch;
        margin-right: 5px;
    }
    .round-btn{
        border: 2px solid;
        height: 3em;
        width: 3em; /* Ensure it's a perfect circle */
        border-radius: 50%;
        align-items: center; /* Ensures content inside is centered */
        display: flex; /* Added Flexbox */
        justify-content: center; /* Centers content horizontally */
    }
    .general-container{
        background-color: $transparentBlack;
        margin-top: 3.5em;
    }
}
