@import './Variables.scss';
.ql-toolbar.ql-snow {
    background-color: $transparentBlack;
    border: none;
    
    &.button{
        color: #fff;
        background-color: red
    }
}
.ql-container.ql-snow{
    background-color: $transparentBlack;
    min-height: 10em;
    max-height: fit-content;
    border: none;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    background-color: $mainGrey;
}

.ql-snow .ql-picker{
    color: #fff;
}