@import './Variables.scss';
body { 
    overflow-x: hidden;
    overflow-y: hidden;
}
.dark-bg {
    background-color: $darkBlack;
    height: 100vh;
    overflow: auto;
}
.bg {
    overflow: auto;
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;

}
.button-group button:first-child{
    border: 2px solid;
    border-color: azure;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right:none;
}

.button-group button:last-child{
    border: 2px solid;
    border-color: azure;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.btn-up {
    position: fixed;
    bottom: 0;
    width: 3em;
    height: 3em;
}

.btn-save{
    background-color: $infoBlack;
    padding: 2px 10px;
    border: 2px solid;
    border-color: azure;
}
.btn-save:hover:enabled{
    background-color: $categoryJungle;
}

.btn-edit{
    background-color: $infoBlack;
    padding: 2px 10px;
    border: 2px solid;
    border-color: azure;
}
.btn-edit:hover{
    background-color: $categoryOrange;
}
.btn-edit:focus{
    background-color: $categoryOrange;
    color: #fff;
}
 .btn-remove{
    background-color: $infoBlack;
    padding: 2px 10px;
    border: 2px solid;
    border-color: azure;

  }
.btn-remove:hover:enabled{
    background-color: $categoryRed;
}
.btn-enchantment {
    background-color: $infoBlack;
    padding: 2px 10px;
    border: 2px solid;
    border-color: azure;

}

.btn-enchantment:hover{
    background-color: $enchantment;
}
.btn-enchantment:focus{
    background-color: $enchantment;
    color: #fff;
}
button {
    border: none;
    background-color: $infoBlack;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
    padding: 10px 15px ;
    
}
button:focus{
    border: 1px solid;
    color: $categoryGreen;
    }
    
button:disabled{
    background-color: $infoBlack;
    opacity: 50%;
    cursor: not-allowed;
}
.items-btn {
    background-color: white;
    border-radius: 15%;
    min-width: 70px;

}
.items-btn:hover{
    background-color: rgb(219, 219, 219);
}

textarea{
    background-color: $infoBlack;
    border-top-right-radius: 10px;
    border:none;
    color:azure;
    text-align: left;
    width: 100%;
    resize: vertical;
    min-height:100px;
    padding:1.1em;
}
textarea:focus{
    outline: none;
}

input {
    background-color: $infoBlack;
    color: #fff;
    text-align: center;
    border: 1px solid white;
}
input:focus{
    outline:none;
    color: $categoryOrange;
}

table {
    background-color: $infoBlack;
    color: #fff;
    text-align: center;
    border-bottom: #fff;
  }

div{
    word-wrap: break-word;
}
h1 {
    text-transform: uppercase;
    color: azure;
    font-size: clamp(1em, calc(0.5em + 1vw), 1.5em);
    letter-spacing: 7px;
}
h2{
    text-transform: uppercase;
    color: azure;
    font-size: clamp(1em, calc(0.5em + 1vw), 1.3em);
    letter-spacing: 7px;
}
h3{
    text-transform: uppercase;
    color: azure;
    font-size: clamp(1em, calc(0.5em + 1vw), 1.2em);
    letter-spacing: 7px;
}
h5 {
    text-transform: uppercase;
    color: azure;
    font-size: clamp(1em, calc(0.5em + 1vw), 0.9em);
    letter-spacing: 7px;
}
ul{
    color: azure;
    background-color: $infoBlack;
}

select{
    background-color: $infoBlack;
    padding: 2px 4px;
    color: azure;
    border:none;
}
.blur-bg{
    height: 100vh;
    width: 100%;
    top:0;
    left:0;
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup{
    width: 100%;
    min-height: fit-content;
    max-height: 500px;
    max-width: fit-content;
    padding: 2em;
    background-color: $infoBlack;
    z-index: 2;
}


strong {
    color: $categoryOrange;
}
.Welles-bg {
    background-image:url(~/public/Welles.svg)
}
.Algor-bg {
    background-image:url(~/public/Algor.svg)
}
.Ethelion-bg {
    background-image:url(~/public/Ethelion.svg)
}

.Beltamor-bg {
    background-image:url(~/public/Beltamor.svg)
}
.Medorien-bg {
    background-image:url(~/public/Medorien.svg)
}