@import './Variables.scss';
body { 
    overflow-x: hidden;
    overflow-y: hidden;
}
/*BACKGROUND*/
.dark-bg {
    background-color: $transparentBlack;
    height: 100vh;
    overflow: auto;
}
.bg {
    overflow: auto;
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;

}
.blur-bg{
    height: 100vh;
    width: 100%;
    top:0;
    left:0;
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-div{
    background-color: $transparentBlack;
    padding: 0.5em;
    margin: 0.2em 0 0 0.2em;
}

/* BORDERS */
.border-pattern{
    border: 15px solid $transparentBlack;
    border-image-source: url(~/public/pattern/grey-card-border.svg);
    border-image-slice:
    33 33 32 33;
    border-image-width:
    15px 15px 15px 15px;
    border-image-outset:
    0px 0px 0px 0px;
    border-image-repeat:
    stretch stretch;

}

.border-pattern-top {
    border-top: 20px solid  $transparentBlack;
    border-image-source: url(~/public/pattern/top-pattern.svg);
    border-image-slice: 100 0 0 0;
    border-image-width:25px 0 0 0;
    border-image-outset:0px 0px 0px 0px;
    border-image-repeat:round stretch;
}
/* TABLE*/
.custom-table {   
    color: #fff;
    text-align: center;
    border-bottom: #fff;
    width: 100%;
    border-collapse:separate;
    border-spacing: 0 15px;
    background: rgba($color: #161614, $alpha: 0.7);
}

/*BUTTONS*/
.button-group button:first-child{
    border: 2px solid;
    border-color: azure;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right:none;
}

.button-group button:last-child{
    border: 2px solid;
    border-color: azure;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.btn-small{
    width: 0.2em
}
.btn-up {
    position: fixed;
    bottom: 0;
    width: 3em;
    height: 3em;
}

.btn-save{
    background-color: $infoBlack;
    padding: 2px 10px;
    border: 2px solid;
    border-color: azure;
}
.btn-save:hover:enabled{
    background-color: $categoryJungle;
}

.btn-edit{
    background-color: $infoBlack;
    padding: 2px 10px;
    border: 2px solid;
    border-color: azure;
}
.btn-edit:hover{
    background-color: $categoryOrange;
}
.btn-edit:focus{
    background-color: $categoryOrange;
    color: #fff;
}
 .btn-remove{
    background-color: $infoBlack;
    padding: 2px 10px;
    border: 2px solid;
    border-color: azure;

  }
.btn-remove:hover:enabled{
    background-color: $categoryRed;
}
.btn-enchantment {
    background-color: $infoBlack;
    padding: 2px 10px;
    border: 2px solid;
    border-color: azure;

}

.btn-enchantment:hover{
    background-color: $enchantment;
}
.btn-enchantment:focus{
    background-color: $enchantment;
    color: rgb(255, 255, 255);
}
button {
    border: none;
    background-color: $infoBlack;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
    padding: 10px 15px ;
    
}
button:focus{
    box-shadow: 0px 0px 15px 5px #fff;
    color: rgb(0, 0, 0);
    background-color: white,
    }
    
button:disabled{
    background-color: $infoBlack;
    opacity: 50%;
    cursor: not-allowed;
}
.items-btn {
    background-color: $infoBlack;
    border-radius: 20%;
    min-width: 70px;

}


/*TEXTAREA; INPUT*/
textarea{
    background-color: $infoBlack;
    border-top-right-radius: 10px;
    border:none;
    color:azure;
    text-align: left;
    width: 100%;
    resize: vertical;
    min-height:100px;
    padding:1.1em;
}
textarea:focus{
    outline: none;
}

strong {
    color: $categoryOrange;
}

input {
    background-color: $infoBlack;
    color: #fff;
    text-align: center;
    border: 1px solid white;
}
input:focus{
    outline:none;
    color: $categoryOrange;
}

/*TABLE*/
table {
    color: #fff;
    text-align: center;
    border-bottom: #fff;
    & .inline-td{
        display: inline-block;
    }
  }
  


select{
    background-color: $infoBlack;
    padding: 2px 4px;
    color: azure;
    border:none;
}

div{
    word-wrap: break-word;
    color: azure;
}

/* HEADINGS*/
h1 {
    text-transform: uppercase;
    color: azure;
    font-size: clamp(1em, calc(0.5em + 1vw), 1.5em);
    letter-spacing: 7px;
}
h2{
    text-transform: uppercase;
    color: azure;
    font-size: clamp(1em, calc(0.5em + 1vw), 1.3em);
    letter-spacing: 7px;
}
h3{
    text-transform: uppercase;
    color: azure;
    font-size: clamp(1em, calc(0.5em + 1vw), 1.2em);
    letter-spacing: 7px;
}
h5 {
    text-transform: uppercase;
    color: azure;
    font-size: clamp(1em, calc(0.5em + 1vw), 0.9em);
    letter-spacing: 7px;
}
.txt-info{
    color: grey;
    font-size: clamp(0.6em, calc(0.5em + 1vw), 0.7em);
    margin: 0 0 0 10px;
}
/*ALERTS*/
.alert{
    color: #fff;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    padding: 0.2em;
    border-radius: 5px;
    &.error{
        background: rgba(255, 38, 38, 0.8);
    }
    &.warning{
        background: rgba(255, 204, 17, 0.8);
    }
    &.success{
        background: rgba(77, 255, 17, 0.8);
    }
    &.info{
        background: rgba(17, 227, 255, 0.8);
    }
}
.exclamation{
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    font-size: 1em;
    text-align: center;
    box-shadow:  0px 0px 15px 5px #fff;
    color: $infoBlack;
    background-color: #fff;
    margin: 0;
  
}
.popup{
    width: 100%;
    min-height: fit-content;
    max-height: 95vh;
    max-width: fit-content;
    padding: 1.1em;
    background-color: $infoBlack;
    z-index: 2;
}

.Algor-bg {
    background:url(~/public/pattern/algor.svg) rgba(0, 0, 0, 0.8);
    background-size: 15%;
    background-repeat: repeat;
}

.Beltamor-bg {
    background:url(~/public/pattern/beltamor.svg) rgba(0, 0, 0, 0.8);
    background-size: 15%;
    background-repeat: repeat;
}

.Ethelion-bg {
    background:url(~/public/pattern/ethelion.svg) rgba(0, 0, 0, 0.8);
    background-size: 15%;
    background-repeat: repeat;
}

.Medorien-bg {
    background:url(~/public/pattern/medorien.svg) rgba(0, 0, 0, 0.8);
    background-size: 15%;
    background-repeat: repeat;
}

.Thornheim-bg {
    background:url(~/public/pattern/thornheim.svg) rgba(0, 0, 0, 0.8);
    background-size: 15%;
    background-repeat: repeat;
}

.Welles-bg {
    background:url(~/public/pattern/welles.svg) rgba(0, 0, 0, 0.8);
    background-size: 15%;
    background-repeat: repeat;
}

.Welles:hover{
    background-color: #fff05a;
    -webkit-box-shadow: 0px 0px 15px 5px #fff05a; 
    box-shadow: 0px 0px 15px 5px #fff05a;
}






