body {
  overflow-x: hidden;
}

p {
  text-align: justify;
}

.required-asterisk {
  color: rgb(249, 65, 68);
  margin-left: 5px;
  font-size: 14px;
}

.dark-bg {
  background-color: rgba(24, 24, 24, 0.8);
  background-attachment: fixed;
  background-repeat: repeat-y; /* Ensure vertical repeat */
  background-size: auto; /* Default size to allow repetition */
  min-height: 100vh; /* Use min-height instead of height */
  overflow: visible; /* Ensure no extra scroll bar appears */
}

.bg {
  background-attachment: fixed;
  background-repeat: repeat-y; /* Ensure vertical repeat */
  background-size: auto; /* Default size */
  min-height: 100vh; /* Use min-height instead of height */
  overflow: visible;
}

.blur-bg {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  visibility: hidden; /* Hidden by default */
  width: 120px; /* Adjust width as needed */
  background-color: rgba(0, 0, 0, 0.75); /* Background color */
  color: #fff; /* Text color */
  text-align: center; /* Center the text */
  border-radius: 5px; /* Rounded corners */
  padding: 5px; /* Padding */
  position: absolute; /* Position it absolutely */
  z-index: 1; /* Ensure it appears above other elements */
  bottom: 125%; /* Position above the container */
  left: 50%; /* Center horizontally */
  margin-left: -60px; /* Shift left by half the tooltip width */
  opacity: 0; /* Start invisible */
  transition: opacity 0.3s; /* Smooth transition */
}

.motion-div:hover .tooltip {
  visibility: visible; /* Show tooltip on hover */
  opacity: 1; /* Fade in */
}

.info-div {
  background-color: rgba(24, 24, 24, 0.8);
  padding: 0.5em;
  margin: 0.2em 0 0 0.2em;
}

.badge-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black; /* Set background color as needed */
  padding: 5px;
  border-radius: 50%; /* Optional: for a circular badge */
}

.ability-card {
  background-color: rgba(24, 24, 24, 0.8);
  border: 15px solid rgba(24, 24, 24, 0.8);
  border-image-source: url(~/public/pattern/grey-card-border.svg);
  border-image-slice: 33 33 32 33;
  border-image-width: 15px 15px 15px 15px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  margin-right: 5px;
}

.small-icon {
  width: 90px;
  height: 90px;
  padding: 5px;
  max-width: 95%;
  max-height: 95%;
  display: flex;
  position: relative;
}

.nested-icons {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.icon-image {
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
  min-height: 5px;
  min-width: 5px;
}
.icon-imagesvg {
  width: 100%;
  height: 100%;
}

.img-creature {
  border: 3px solid;
  max-width: 100%;
}

.large-icon {
  width: 210px;
  height: 210px;
  padding: 5px;
  max-height: 95%;
  max-width: 95%;
  min-height: 10px;
  min-width: 10px;
  display: flex;
  position: relative;
}

.count-box {
  z-index: 1;
  padding: 4px 8px; /* Adjust padding as needed */
}

.info-container {
  background-color: rgb(24, 24, 24);
  width: 45vw;
  max-width: 60vw;
  min-height: 30vh;
  max-height: 95vh;
  padding: 1.1em;
  background-color: rgb(24, 24, 24);
  z-index: 2;
}

.primitive-bg {
  background: url(~/public/color_icons/bg/primitive.svg);
  background-repeat: no-repeat;
}

.common-bg {
  background: url(~/public/color_icons/bg/common.svg);
  background-repeat: no-repeat;
}

.highgrade-bg {
  background: url(~/public/color_icons/bg/highgrade.svg);
  background-repeat: no-repeat;
}

.magical-bg {
  background: url(~/public/color_icons/bg/magical.svg);
  background-repeat: no-repeat;
}

.extraordinary-bg {
  background: url(~/public/color_icons/bg/extraordinary.svg);
  background-repeat: no-repeat;
}

.rare-bg {
  background: url(~/public/color_icons/bg/rare.svg);
  background-repeat: no-repeat;
}

.amazing-bg {
  background: url(~/public/color_icons/bg/amazing.svg);
  background-repeat: no-repeat;
}

.epic-bg {
  background: url(~/public/color_icons/bg/epic.svg);
  background-repeat: no-repeat;
}

.legendary-bg {
  background: url(~/public/color_icons/bg/legendary.svg);
  background-repeat: no-repeat;
}

/* BORDERS */
.border-pattern {
  border: 15px solid rgba(24, 24, 24, 0.8);
  border-image-source: url(~/public/pattern/grey-card-border.svg);
  border-image-slice: 33 33 32 33;
  border-image-outset: 0px 0px 0px 0px;
}
.border-pattern.colored {
  border: 15px solid rgb(144, 190, 109);
}
.border-pattern.stretch {
  border-image-repeat: stretch stretch;
}
.border-pattern.repeat {
  border-image-repeat: repeat repeat;
}
.border-pattern.left {
  border-image-width: 0 0 0 20px;
}
.border-pattern.top {
  border-image-width: 15px 0 0 0;
}
.border-pattern.complete {
  border-image-width: 15px 15px 15px 15px;
}

.border-pattern-top {
  border-top: 20px solid rgba(24, 24, 24, 0.8);
  border-image-source: url(~/public/pattern/top-pattern.svg);
  border-image-slice: 100 0 0 0;
  border-image-width: 25px 0 0 0;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: round stretch;
}

/* TABLE*/
.custom-table {
  color: #fff;
  text-align: center;
  border-bottom: #fff;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
  background: rgba(22, 22, 20, 0.7);
}

/*BUTTONS*/
.button-group button:first-child {
  border: 2px solid;
  border-color: azure;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}

.button-group button:last-child {
  border: 2px solid;
  border-color: azure;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.btn-light {
  background-color: #fff;
  padding: 2px 10px;
  border: 2px solid;
  border-color: azure;
  color: rgb(24, 24, 24);
}

.btn-light:hover {
  background-color: rgb(24, 24, 24);
  color: #fff;
}

.btn-up {
  position: fixed;
  bottom: 0;
  width: 3em;
  height: 3em;
}

.btn-save {
  background-color: rgb(24, 24, 24);
  padding: 2px 10px;
  border: 2px solid;
  border-color: azure;
}

.btn-save:hover:enabled {
  background-color: rgb(67, 170, 139);
}

.btn-edit {
  background-color: rgb(24, 24, 24);
  padding: 2px 10px;
  border: 2px solid;
  border-color: azure;
}

.btn-edit:hover {
  background-color: rgb(243, 114, 44);
}

.btn-edit:focus {
  background-color: rgb(243, 114, 44);
  color: #fff;
}

.btn-remove {
  background-color: rgb(24, 24, 24);
  padding: 2px 10px;
  border: 2px solid 5%;
  border-color: rgb(24, 24, 24);
}

.btn-remove:hover:enabled {
  background-color: rgb(249, 65, 68);
  border-color: azure;
}

.btn-enchantment {
  background-color: rgb(24, 24, 24);
  padding: 2px 10px;
  border: 2px solid;
  border-color: azure;
}

.btn-enchantment:hover {
  background-color: #9d4edd;
}

.btn-enchantment:focus {
  background-color: #9d4edd;
  color: rgb(255, 255, 255);
}

.border-btn {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: none;
  border-right: none;
}

button {
  border: none;
  background-color: rgb(24, 24, 24);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
  padding: 10px 15px;
}

button:focus {
  box-shadow: 0px 0px 15px 5px #fff;
  color: rgb(0, 0, 0);
  background-color: white;
}

button:hover {
  box-shadow: 0px 0px 10px 5px #fff;
  color: rgb(0, 0, 0);
  background-color: white;
}

button:disabled {
  background-color: rgb(24, 24, 24);
  opacity: 50%;
  cursor: not-allowed;
}

.items-btn {
  background-color: rgb(24, 24, 24);
  border-radius: 20%;
  min-width: 70px;
}

/* PROGRESS BAR */
.horizontall-bar {
  background-color: rgb(24, 24, 24);
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em; /* (height of inner div) / 2 + padding */
  padding: 0.2em;
}

.horizontall-bar > div {
  width: 80%; /* Adjust with JavaScript */
  height: 20px;
  text-align: center;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

/*TEXTAREA; INPUT*/
textarea {
  background-color: rgb(24, 24, 24);
  border-top-right-radius: 10px;
  border: none;
  color: azure;
  text-align: left;
  width: 100%;
  resize: vertical;
  min-height: 100px;
  padding: 1.1em;
}

textarea:focus {
  outline: none;
}

.cyan-text {
  color: #8ecae6;
}

.yellow-text {
  color: rgb(249, 199, 79);
}

.green-text {
  color: rgb(144, 190, 109);
}

.blue-text {
  color: #0077b6;
}

.violet-text {
  color: #c77dff;
}

strong {
  color: rgb(243, 114, 44);
}

input {
  background-color: rgb(24, 24, 24);
  color: #fff;
  text-align: center;
  border: 1px solid white;
}

input:focus {
  outline: none;
  color: rgb(243, 114, 44);
}

/*TABLE*/
table {
  color: #fff;
  text-align: center;
  border-bottom: #fff;
}
table .inline-td {
  display: inline-block;
}

select {
  background-color: rgb(24, 24, 24);
  padding: 2px 4px;
  color: azure;
  border: none;
}

div {
  word-wrap: break-word;
  color: rgb(240, 255, 255);
}

/* HEADINGS*/
h1 {
  text-transform: uppercase;
  color: azure;
  font-size: clamp(1em, 0.5em + 1vw, 1.5em);
  letter-spacing: 5px;
}

h2 {
  text-transform: uppercase;
  color: azure;
  font-size: clamp(1em, 0.5em + 1vw, 1.3em);
  letter-spacing: 4px;
}

h3 {
  text-transform: uppercase;
  color: azure;
  font-size: clamp(1em, 0.5em + 1vw, 1.2em);
  letter-spacing: 3px;
}

h4 {
  text-transform: uppercase;
  color: azure;
  font-size: clamp(1em, 0.5em + 1vw, 1.1em);
  letter-spacing: 3px;
}

h5 {
  text-transform: uppercase;
  color: azure;
  font-size: clamp(1em, 0.5em + 1vw, 0.9em);
  letter-spacing: 2px;
}

.txt-info {
  color: grey;
  font-size: clamp(0.6em, 0.5em + 1vw, 0.7em);
  margin: 0 0 0 10px;
}

/*ALERTS*/
.alert {
  color: #fff;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  padding: 0.2em;
  border-radius: 5px;
}
.alert.error {
  background: rgb(249, 65, 68);
}
.alert.warning {
  background: rgb(249, 199, 79);
}
.alert.success {
  background: rgb(144, 190, 109);
}
.alert.info {
  background: #95ecff;
}

.exclamation {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  font-size: 1em;
  text-align: center;
  box-shadow: 0px 0px 15px 5px #fff;
  color: rgb(24, 24, 24);
  background-color: #fff;
  margin: 0;
}

.popup {
  width: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-height: 95vh;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 1.1em;
  background-color: rgb(24, 24, 24);
  z-index: 2;
}

/* FRACTION COLORS */
.general-bg {
  background: url(~/public/pattern/general.svg) rgba(0, 0, 0, 0.8);
  background-size: 15%;
  background-repeat: repeat;
}

.Algor-bg {
  background: url(~/public/pattern/algor.svg) rgba(0, 0, 0, 0.8);
  background-size: 15%;
  background-repeat: repeat;
}

.Beltamor-bg {
  background: url(~/public/pattern/beltamor.svg) rgba(0, 0, 0, 0.8);
  background-size: 15%;
  background-repeat: repeat;
}

.Ethelion-bg {
  background: url(~/public/pattern/ethelion.svg) rgba(0, 0, 0, 0.8);
  background-size: 15%;
  background-repeat: repeat;
}

.Medorien-bg {
  background: url(~/public/pattern/medorien.svg) rgba(0, 0, 0, 0.8);
  background-size: 15%;
  background-repeat: repeat;
}

.Thornheim-bg {
  background: url(~/public/pattern/thornheim.svg) rgba(0, 0, 0, 0.8);
  background-size: 15%;
  background-repeat: repeat;
}

.Welles-bg {
  background: url(~/public/pattern/welles.svg) rgba(0, 0, 0, 0.8);
  background-size: 15%;
  background-repeat: repeat;
}

.Thamor-bg {
  background: url(~/public/pattern/thamor.svg) rgba(0, 0, 0, 0.8);
  background-size: 15%;
  background-repeat: repeat;
}

.Algor-text {
  color: #cc4749;
}

.Beltamor-text {
  color: #308fe8;
}

.Ethelion-text {
  color: #2B9348;
}

.Medorien-text {
  color: #cb6327;
}

.Thornheim-text {
  color: #95ecff;
}

.Thamor-text {
  color: #c9a7ff;
}

.Welles-text {
  color: rgb(245, 235, 130);
}

.Algor-active {
  background-color: #cc4749;
  box-shadow: 0px 0px 15px 5px #962424;
}

.Beltamor-active {
  background-color: #308fe8;
  box-shadow: 0px 0px 15px 5px #00509d;
}

.Ethelion-active {
  background-color: #2B9348;
  box-shadow: 0px 0px 15px 5px #229680;
}

.Medorien-active {
  background-color: #cb6327;
  box-shadow: 0px 0px 15px 5px #cf7900;
}

.Thornheim-active {
  background-color: #95ecff;
  box-shadow: 0px 0px 15px 5px #99ccff;
  color: black;
}

.Thamor-active {
  background-color: #c9a7ff;
  box-shadow: 0px 0px 15px 5px #c9a7ff;
}

.Welles-active {
  background-color: rgb(245, 235, 130);
  box-shadow: 0px 0px 15px 5px #fdeb27;
  color: rgb(22, 22, 20);
}

.flieht {
  background-color: rgb(87, 117, 144);
}

.neutral {
  background-color: rgb(144, 190, 109);
}

.aggressiv {
  background-color: rgb(243, 114, 44);
}

.Krieger {
  background-color: rgb(249, 65, 68);
}

.Fernkampf {
  background-color: rgb(243, 114, 44);
}

.Arbeiter {
  background-color: rgb(248, 150, 30);
}

.Schurke {
  background-color: rgb(87, 117, 144);
}/*# sourceMappingURL=Main.css.map */