@import './Variables.scss';

.Talents{
    .table {
        background-color: $infoBlack;
        color: #fff;
        text-align: center;
        border-bottom: #fff;
    }

    .sort-btn{
        margin-left:2px;
        padding:0;
    }
    .sort-btn:focus{
        color: $categoryGreen;
        border: none;
    }
    .Nahkampf{
        background-color: $categoryRed;   
    }
    .Fernkampf {
        background-color: $categoryOrange;
    }
    .Natur {
        background-color: $categoryGreen;
    }
    .Wissen {
        background-color: $categoryJungle;
    }    
    .Handwerk {
        background-color: $categoryYellowOrange;
    }
    .Heimlichkeit {
        background-color: $categoryBlue;
    }
    .Gesellschaft {
        background-color: $categoryYellow;
    }
    .category {
        text-transform: uppercase;
    }
}

