//MAIN

$darkBlack: #161614;
$infoBlack: #212529;

// CATEGORY COLORS

$categoryRed: #f94144;
$categoryOrange: #f3722c;
$categoryGreen: #90be6d;
$categoryJungle: #43aa8b;
$categoryYellowOrange: #f8961e;
$categoryBlue: #577590;
$categoryYellow: #f9c74f;

//// INVENTORY
$enchantment: #9d4edd;
//THEMEN COLORS


$algorMain: #cc4749;
$beltamorMain: #308fe8;
$ethelionMain: #2B9348;
$medorienMain: #cb6327;
$thamorMain: #54318C;
$thornheimMain: #95ecff;
$wellesMain: #ead21c;