//MAIN

$darkBlack: rgb(22, 22, 20);
$infoBlack: rgb(24, 24, 24);
$transparentBlack: rgba(24, 24, 24, 0.8);
$mainGrey: #7c7c7c;
// CATEGORY COLORS

$categoryRed: #f94144;
$categoryOrange: rgb(243, 114, 44);
$categoryGreen: #90be6d;
$categoryJungle: #43aa8b;
$categoryYellowOrange: #f8961e;
$categoryBlue: #577590;
$categoryYellow: #f9c74f;

//// INVENTORY
$enchantment: #9d4edd;
//THEMEN COLORS


$algorMain: #cc4749;
$beltamorMain: #308fe8;
$ethelionMain: #2B9348;
$medorienMain: #cb6327;
$thamorMain: #54318C;
$thornheimMain: #95ecff;
$wellesMain: rgb(255, 240, 90);