//MAIN

$darkBlack: rgb(22, 22, 20);
$infoBlack: rgb(24, 24, 24);
$transparentBlack: rgba(24, 24, 24, 0.8);
$mainGrey: #7c7c7c;
// CATEGORY COLORS

$categoryRed: rgb(249, 65, 68);
$categoryOrange: rgb(243, 114, 44);
$categoryGreen: rgb(144, 190, 109);
$categoryJungle: rgb(67, 170, 139);
$categoryYellowOrange: rgb(248, 150, 30);
$categoryBlue: rgb(87, 117, 144);
$categoryYellow: rgb(249, 199, 79);


/// ITEMS RARITY
$common: #c9c9c9;
//// INVENTORY
$enchantment: #9d4edd;
//THEMEN COLORS


$algorMain: #cc4749;
$beltamorMain: #308fe8;
$ethelionMain: #2B9348;
$medorienMain: #cb6327;
$thamorMain: #c9a7ff;
$thornheimMain: #95ecff;
$wellesMain: rgb(245, 235, 130);